.title {
  padding: 5%;
}

.container {
  display: grid;
  grid-template: repeat(3, 0.3fr) / 1fr 1fr 1fr;
  padding: 0 15%;
  row-gap: 200px;
  align-items: center;
}
.container p {
  padding: inherit;
}

.imagen1 {
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  /*   border: 1px solid black; */
}

.producto1 {
  text-align: left;
  grid-column: 2 / span 3;
  grid-row: 1;
  /*   border: 1px solid black; */
}
.imagen2 {
  text-align: center;
  grid-column: 3;
  grid-row: 2;
  /*   border: 1px solid black; */
}
.producto2 {
  grid-column: 1 / span 2;
  grid-row: 2;
  /*   border: 1px solid black; */
}
.imagen3 {
  text-align: center;
  grid-column: 1;
  grid-row: 3;
  /*   border: 1px solid black; */
}
.producto3 {
  grid-column: 2 / span 3;
  grid-row: 3;
  /*   border: 1px solid black; */
}
.pie {
  margin-top: 10%;
}

@media (max-width: 540px) {
  .container {
    display: block;
  }
  .imagen3 {
    padding: 30px 0;
  }
}
/* ----------------Formulario------------- */
label {
  font-size: 12px;
}

.form_container {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template: 350px / 0.5fr 0.5fr;
  column-gap: 15px;
}
.resumen {
  grid-column: 1;
  box-shadow: 0px 0px 2px 1px #e6e5e9;
  padding: 20px;
}
.resumen img {
  display: block;
  margin: auto;
}
.resumen p {
  padding: initial;
}
.form_pago {
  grid-column: 2;
  box-shadow: 0px 0px 2px 1px #e6e5e9;
}
.form {
  display: grid;
  padding: 60px 20px;
}
.data {
  height: 25px;
  margin: 5px 0;
  border-radius: 1px;
}
.form_pago .main_button {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 540px) {
  .form_container {
    display: block;
  }
  .form {
    margin-top: 15px;
  }
  .resumen img {
    width: 150px;
    height: 150px;
  }
}

/* -----------------faqs---------------- */

.faqs {
  display: grid;
  justify-content: center;
}
