@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* Variables */
:root {
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: #313337;
  /*   Espaciado  */
  --space: 10px;
  /* Tipografia  */
  --normal: 12px;
  /*  box-shadow */
  --box: 0px 0px 2px 1px #e6e5e9;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: 10px;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}
nav li {
  padding-left: 20px;
  list-style: none;
}
nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}
.main_section {
  padding: 15%;
  text-align: center;
}
.products {
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
  justify-content: center;
}
.product {
  padding: 10px;
  margin-top: -240px;
}
.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}
.img_content {
  text-align: center;
}
.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: 10px;
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
.main_button:hover {
  background-color: #5e9e22;
}
.characteristics {
  display: flex;
  justify-content: center;
}
.first {
  width: 150px;
  padding: 100px;
  text-align: center;
}
.second {
  width: 150px;
  padding: 100px;
  text-align: center;
}
.third {
  width: 150px;
  padding: 100px;
  text-align: center;
}
